defaults
  mode http
  log global
  option httplog
  option  http-server-close
  option  dontlognull
  option  redispatch
  option  contstats
  retries 3
  backlog 10000
  timeout client          25s
  timeout connect          5s
  timeout server          25s
# timeout tunnel available in ALOHA 5.5 or HAProxy 1.5-dev10 and higher
  timeout tunnel        3600s
  timeout http-keep-alive  1s
  timeout http-request    15s
  timeout queue           30s
  timeout tarpit          60s
  default-server inter 3s rise 2 fall 3
  option forwardfor

frontend ft_web
  bind *:80
  maxconn 10000
  default_backend bk_web

backend bk_web                      
  balance roundrobin
  server websocket-server-1 websocket-server-1:3000 check
  server websocket-server-2 websocket-server-2:3000 check
  server websocket-server-3 websocket-server-3:3000 check
  server websocket-server-4 websocket-server-4:3000 check


